<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494976045269-ruflu57el7jtoo044cgs4f0i2fv1q4m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494976045269-ruflu57el7jtoo044cgs4f0i2fv1q4m8</string>
	<key>API_KEY</key>
	<string>AIzaSyBSXr4V8auFz8Yj9HKljWkmj1j4wr1GgTk</string>
	<key>GCM_SENDER_ID</key>
	<string>494976045269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.alexanderusachev.snoreapp</string>
	<key>PROJECT_ID</key>
	<string>snoreapp</string>
	<key>STORAGE_BUCKET</key>
	<string>snoreapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494976045269:ios:bb8c012cefcacdac31125c</string>
</dict>
</plist>